---
import NewsCard from './NewsCard.astro';

interface Props {
  highlights: any[];
}

const { highlights } = Astro.props;
---
<div class="flex flex-wrap gap-6">
  {highlights.map((h, index) => (
    <div class={`flex-grow ${index === 0 ? "basis-full" : "basis-[calc(50%-12px)] min-w-[400px]"}`}>
      <NewsCard highlight={h} featured={index === 0} />
    </div>
  ))}
</div>
